@font-face {
  font-family: Myriad;
  src: url(../font/MyriadPro-SemiboldCondIt.ttf);
}
html {
  font-family: Myriad, Arial, Helvetica, sans-serif;
  font-size: 16px;
  word-wrap: normal;
}
body {
  width: 100%;
  min-width: 400px;
}
header {
  height: 0;
  position: relative;
  top: 20px;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
}
header a {
  display: block;
  height: 100%;
}
header .logo {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40px;
  width: 143px;
  background-image: url(../img/libertex-logo.png);
}
header .badge {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 62px;
  width: 129px;
  background-image: url(../img/badge.png);
}
@media (max-width: 760px) {
  header {
    padding: 0;
  }
}
.champion {
  color: white;
  padding: 135px 25% 25% 25%;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-image: url(../img/background-football.png);
  background-clip: padding-box;
  text-align: center;
}
@media (max-width: 760px) {
  .champion {
    padding: 100px 0% 0% 0%;
  }
}
.champion h1 {
  text-transform: uppercase;
  font-size: 5rem;
  margin: 0;
}
@media (max-width: 760px) {
  .champion h1 {
    font-size: 2rem;
  }
}
.champion h2 {
  margin: 0px 0 50px 0;
}
@media (max-width: 760px) {
  .champion h2 {
    margin: 0;
  }
}
.champion .awards {
  display: flex;
  justify-content: center;
  margin-bottom: 115px;
  min-width: 460px;
}
.champion .awards__affiliate {
  height: 102px;
  width: 117px;
  background-repeat: no-repeat;
  margin: 0px 20px;
  background-image: url(../img/best-affiliate-program.png);
  margin: 0 20px;
}
@media (max-width: 760px) {
  .champion .awards__affiliate {
    margin: 0;
  }
}
.champion .awards__mobile {
  height: 102px;
  width: 117px;
  background-repeat: no-repeat;
  margin: 0px 20px;
  background-image: url(../img/the-best-mobile-app.png);
  margin: 0 20px;
}
@media (max-width: 760px) {
  .champion .awards__mobile {
    margin: 0;
  }
}
.champion .awards__finance {
  height: 102px;
  width: 117px;
  background-repeat: no-repeat;
  margin: 0px 20px;
  background-image: url(../img/world-finance.png);
}
@media (max-width: 760px) {
  .champion .awards__finance {
    margin: 0;
  }
}
@media (max-width: 760px) {
  .champion .awards {
    margin: 20px 0;
    justify-content: space-between;
    min-width: 0;
  }
}
.champion .registration-form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 140px;
}
.champion .registration-form__field {
  width: 220px;
  height: 40px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  padding: 0 2rem;
}
@media (max-width: 760px) {
  .champion .registration-form__field {
    width: 85%;
  }
}
.champion .registration-form__btn {
  margin-top: 20px;
  width: 220px;
  height: 40px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 50px;
  color: white;
  background-color: #ff8000;
  box-shadow: 0 2px 1px 0px #ca3e00;
}
@media (max-width: 760px) {
  .champion .registration-form__btn {
    margin-top: 30px;
  }
}
@media (max-width: 760px) {
  .champion .registration-form {
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
.table-section {
  color: white;
  background-color: #3a4252;
  padding: 35px 25%;
  text-align: center;
}
.table-section h2 {
  margin: 0 0 25px 0;
  text-transform: uppercase;
}
@media (max-width: 760px) {
  .table-section {
    padding: 35px 0%;
  }
}
.table-section .plate {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: #121623;
  background-clip: padding-box;
  width: 100%;
  height: 525px;
  padding: 0px;
  border-radius: 5px;
}
.table-section .tournament-table {
  width: 95%;
  height: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-collapse: collapse;
  background-color: transparent;
  margin-bottom: 20px;
}
.table-section .tournament-table td {
  border-bottom: solid 2px #121623;
}
.table-section .tournament-table tr td:nth-child(1) {
  width: 8%;
  min-width: 54px;
}
.table-section .tournament-table tr td:nth-child(2) {
  width: 40.8%;
}
.table-section .tournament-table tr td:nth-child(3) {
  width: 39%;
}
.table-section .tournament-table tr td:nth-child(4) {
  width: 10.3%;
}
.table-section .tournament-table tr:not(:first-child) {
  background-image: url(../img/1px-row-line.png);
  background-size: contain;
}
.table-section .tournament-table tr:not(:first-child) td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.table-section .tournament-table tr:not(:first-child) td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 0;
}
.table-section .tournament-table tr:first-child {
  color: #626e86;
  text-transform: uppercase;
}
.table-section .tournament-table tr:first-child td:nth-child(1) {
  background-image: url(../img/arrow-sort.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 13px;
  background-position-x: 80%;
  overflow-x: visible;
}
.table-section .tournament-table tr:first-child td:nth-child(2) {
  background-image: url(../img/arrow-sort.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 13px;
  background-position-x: 70%;
  background: none;
}
@media (max-width: 760px) {
  .table-section .tournament-table tr:first-child td:nth-child(2) {
    background-position-x: 90%;
  }
}
.table-section .tournament-table tr:first-child td:nth-child(3) {
  background-image: url(../img/arrow-sort.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 13px;
  background-position-x: 65%;
  background: none;
}
@media (max-width: 760px) {
  .table-section .tournament-table tr:first-child td:nth-child(3) {
    background-position-x: 80%;
  }
}
.table-section .tournament-table tr:first-child td:nth-child(4) {
  background-image: url(../img/arrow-sort.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 13px;
  background-position-x: 100%;
  background: none;
}
.table-section .tournament-table tr[data-position='1'] td:first-child {
  background-image: url(../img/table-orange-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='1'] td:last-child {
  background-image: url(../img/flag-ru.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .tournament-table tr[data-position='2'] td:first-child {
  background-image: url(../img/table-orange-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='2'] td:last-child {
  background-image: url(../img/flag-sp.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .tournament-table tr[data-position='3'] td:first-child {
  background-image: url(../img/table-orange-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='3'] td:last-child {
  background-image: url(../img/flag-ch.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .tournament-table tr[data-position='4'] td:first-child {
  background-image: url(../img/table-gray-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='4'] td:last-child {
  background-image: url(../img/flag-ru.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .tournament-table tr[data-position='5'] td:first-child {
  background-image: url(../img/table-gray-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='5'] td:last-child {
  background-image: url(../img/flag-sp.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .tournament-table tr[data-position='6'] td:first-child {
  background-image: url(../img/table-gray-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='6'] td:last-child {
  background-image: url(../img/flag-ch.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .tournament-table tr[data-position='7'] td:first-child {
  background-image: url(../img/table-gray-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='7'] td:last-child {
  background-image: url(../img/flag-ru.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .tournament-table tr[data-position='8'] td:first-child {
  background-image: url(../img/table-gray-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='8'] td:last-child {
  background-image: url(../img/flag-sp.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .tournament-table tr[data-position='9'] td:first-child {
  background-image: url(../img/table-gray-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='9'] td:last-child {
  background-image: url(../img/flag-ch.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .tournament-table tr[data-position='10'] td:first-child {
  background-image: url(../img/table-gray-row-marker.png);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.table-section .tournament-table tr[data-position='10'] td:last-child {
  background-image: url(../img/flag-ru.png);
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 14px 11px;
}
.table-section .btn {
  width: 220px;
  height: 40px;
  margin: 3px;
  border: none;
  border-radius: 5px;
  width: 350px;
  height: 50px;
  color: white;
  background-color: #ff8000;
  box-shadow: 0 2px 1px 0px #ca3e00;
}
@media (max-width: 760px) {
  .table-section .btn {
    margin-top: 0px;
  }
}
.summary {
  padding: 0 25%;
}
@media (max-width: 760px) {
  .summary {
    padding: 0;
  }
}
.summary h2 {
  text-transform: uppercase;
  text-align: center;
}
.summary .video {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-bottom: 56.25%;
  /*для 16:9 (если 4:3 — 75%) */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.summary .video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
footer {
  padding: 0 25%;
}
@media (max-width: 760px) {
  footer {
    padding: 0;
  }
}
