@font-face {
  font-family: Roboto;
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../font/Roboto-Bold.ttf);
}
html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  word-wrap: normal;
}
h1 {
  margin: 0;
  font-weight: 900;
  font: 48px Roboto-Bold;
}
h2 {
  margin: 0;
  font-weight: 900;
  font: 48px Roboto-Bold;
}
h3 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #000000;
}
.btn {
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #FF6F08;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.btn:hover {
  cursor: pointer;
}
.error {
  border: solid 1px #f65151 !important;
}
.message {
  font-size: 14px;
  color: #f65151;
  margin: 8px auto;
}
@media (max-width: 235px) {
  .message {
    margin: 3px auto;
    font-size: 10px;
  }
}
.end-line {
  background-image: url(../img/table-line.png);
  height: 2px;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  margin: 70px 40px 45px 40px;
}
@media (max-width: 1200px) {
  .end-line {
    margin: 70px 16px 45px 16px;
  }
}
@media (max-width: 760px) {
  .end-line {
    margin: 32px 16px 32px 16px;
  }
}
@keyframes openSubMenu {
  from {
    left: 100%;
  }
  to {
    left: 30%;
  }
}
@keyframes closeSubMenu {
  from {
    left: -80%;
  }
  to {
    left: 0%;
  }
}
header {
  width: 960px;
  margin: 0 auto;
  margin-top: 48px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 980px) {
  header {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (max-width: 760px) {
  header {
    margin-top: 16px;
  }
}
header .logo {
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70px;
  width: 140px;
  background-image: url(../img/forexclub-aidents.png);
  flex-shrink: 0;
}
header .logo a {
  display: block;
  height: 100%;
}
@media (max-width: 760px) {
  header .logo {
    height: 64px;
    width: 128px;
    background-image: url(../img/forexclub-aidents-Phone.png);
  }
}
header .useful-links {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  height: 25px;
  font-weight: 500;
}
header .useful-links div:first-child {
  display: none;
}
header .useful-links a {
  margin: 0 16px;
}
@media (max-width: 980px) {
  header .useful-links a {
    margin: 0 5px;
  }
}
@media (max-width: 960px) {
  header .useful-links a {
    font-size: 18px;
  }
}
header .useful-links :last-child {
  margin-right: 0;
}
@media (max-width: 760px) {
  header .useful-links {
    width: 24px;
    height: 23px;
    transform: translateY(80%);
    background-image: url(../img/menu-btn-phone.png);
    cursor: pointer;
  }
  header .useful-links a {
    display: none;
  }
}
header .sub-menu {
  width: 70%;
  height: 100%;
  background-image: none;
  background-color: #eef2f5;
  cursor: default;
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 30%;
  top: 0%;
  animation-name: openSubMenu;
  animation-duration: 1s;
}
header .sub-menu a {
  display: auto;
  margin-left: 22px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: normal;
}
header .sub-menu div:first-child {
  display: block;
  position: relative;
  margin-bottom: 41px;
  font-size: 18px;
  font-weight: 500;
  margin-right: 19px;
  margin-left: 22px;
  margin-top: 16px;
  white-space: nowrap;
}
header .sub-menu div:first-child:after {
  content: '';
  display: inline-block;
  height: 24px;
  width: 23px;
  background-image: url(../img/menu-close-phone.png);
  background-size: 24px 23px;
  background-repeat: no-repeat;
  vertical-align: middle;
  position: absolute;
  left: 100%;
  transform: translateX(-100%);
}
header .sub-menu div:hover:first-child:after {
  cursor: pointer;
}
main {
  margin-top: 64px;
}
@media (max-width: 760px) {
  main {
    margin-top: 24px;
  }
}
.bitcoin-rate-reg {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .bitcoin-rate-reg {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (max-width: 760px) {
  .bitcoin-rate-reg {
    flex-direction: column;
  }
}
.bitcoin-rate-reg .bitcoin-price {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  white-space: nowrap;
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .bitcoin-price {
    flex-direction: column;
    width: 100%;
    margin-bottom: 24px;
  }
}
.bitcoin-rate-reg .bitcoin-price__bitcoin {
  margin-right: 24px;
}
@media (max-width: 980px) {
  .bitcoin-rate-reg .bitcoin-price__bitcoin {
    margin-right: 5px;
  }
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .bitcoin-price__bitcoin {
    order: 2;
    margin: 0 auto;
    margin-bottom: 8px;
    font-size: 40px;
  }
}
.bitcoin-rate-reg .bitcoin-price__data-time {
  display: flex;
  align-items: flex-end;
  flex-basis: 50%;
  padding-bottom: 8px;
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .bitcoin-price__data-time {
    order: 1;
    flex-basis: auto;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .bitcoin-rate-reg .bitcoin-price__data-time :first-child {
    margin-right: 8px;
  }
}
.bitcoin-rate-reg .bitcoin-price__price {
  margin-right: 16px;
  font-size: 48px;
}
@media (max-width: 1080px) {
  .bitcoin-rate-reg .bitcoin-price__price {
    margin-right: 5px;
  }
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .bitcoin-price__price {
    order: 3;
    margin: 0 auto;
    font-size: 40px;
  }
}
.bitcoin-rate-reg .bitcoin-price__dynamics {
  display: flex;
  align-items: flex-end;
  font-size: 32px;
  color: #4EB43A;
  padding-bottom: 6px;
}
@media (max-width: 1080px) {
  .bitcoin-rate-reg .bitcoin-price__dynamics {
    font-size: 28px;
    margin-right: 10px;
  }
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .bitcoin-price__dynamics {
    order: 5;
    margin: 0 auto;
  }
}
.bitcoin-rate-reg .bitcoin-price__price-in-rub {
  margin: 4px 0;
  font-size: 24px;
  font-weight: 400;
  flex-basis: 50%;
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .bitcoin-price__price-in-rub {
    order: 4;
    margin: 0 auto;
    margin-bottom: 16px;
    font-size: 18px;
  }
}
.bitcoin-rate-reg .deal {
  width: 50%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .deal {
    width: 100%;
    margin-bottom: 32px;
  }
}
.bitcoin-rate-reg .deal__coment {
  font-weight: 700;
  background: url(../img/mark-rows.png) 0px 0px no-repeat;
  padding-left: 40px;
  padding-top: 3px;
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .deal__coment {
    background-image: none;
    padding: 0;
    text-align: center;
    margin-bottom: 24px;
  }
}
.bitcoin-rate-reg .deal__top-reg-btn {
  width: 202px;
  height: 48px;
  line-height: 48px;
  margin-left: 40px;
  margin-top: 16px;
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .deal__top-reg-btn {
    padding: 0;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
  }
}
@media (max-width: 760px) {
  .bitcoin-rate-reg .deal:before {
    content: '';
    display: block;
    height: 24px;
    width: 24px;
    margin: 0 auto;
    background-image: url(../img/mark-rows-phone.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 19px;
  }
  .bitcoin-rate-reg .deal li:last-child {
    margin: 0 auto;
    width: 202px;
  }
}
.form-bg {
  display: none;
  position: fixed;
  border: none;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #333333;
}
@media (max-width: 760px) {
  .form-bg {
    background-color: rgba(51, 51, 51, 0.7);
  }
}
.form-bg .reg-window {
  position: fixed;
  width: 375px;
  height: 390px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 32px 49px 48px 46px;
  box-sizing: border-box;
  border: none;
  background-color: #ffffff;
}
@media (max-width: 420px) {
  .form-bg .reg-window {
    width: 96%;
    padding: 32px 3% 48px 3%;
  }
}
.form-bg .reg-window--cross {
  height: 12px;
  width: 12px;
  background-image: url(../img/menu-close-phone.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  right: 16px;
}
.form-bg .reg-window--cross:hover {
  cursor: pointer;
}
.form-bg .reg-window--text1 {
  display: block;
  margin: 0;
  margin-bottom: 41px;
}
@media (max-width: 280px) {
  .form-bg .reg-window--text1 {
    margin-bottom: 5px;
  }
}
@media (max-width: 235px) {
  .form-bg .reg-window--text1 {
    font-size: 10px;
  }
}
.form-bg .reg-window__field {
  border: none;
  margin-bottom: 8px;
  background-color: #eef2f5;
  width: 280px;
  height: 40px;
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}
@media (max-width: 420px) {
  .form-bg .reg-window__field {
    width: 100%;
  }
}
.form-bg .reg-window__field:active,
.form-bg .reg-window :hover,
.form-bg .reg-window :focus {
  outline: 0;
  outline-offset: 0;
}
.form-bg .reg-window__btn {
  width: 280px;
  height: 40px;
  background-color: #4eb43a;
  margin: 0 auto;
  font-size: 18px;
  margin-bottom: 16px;
}
@media (max-width: 420px) {
  .form-bg .reg-window__btn {
    width: 100%;
    font-size: 12px;
  }
}
.form-bg .reg-window__checkbox {
  float: left;
  box-sizing: border-box;
  width: 16px;
  margin-top: 2px;
  margin-right: 8px;
}
.form-bg .reg-window--text2 {
  font-size: 14px;
  color: #6f7780;
  float: left;
  box-sizing: border-box;
  width: 90%;
  margin: 0;
  margin-bottom: 41px;
  cursor: pointer;
}
@media (max-width: 235px) {
  .form-bg .reg-window--text2 {
    font-size: 10px;
  }
}
.form-bg .reg-window--text3 {
  clear: left;
  font-size: 14px;
  color: #6f7780;
  display: inline-block;
  width: 100%;
  text-align: center;
}
@media (max-width: 235px) {
  .form-bg .reg-window--text3 {
    font-size: 10px;
  }
}
.application {
  width: 960px;
  margin: 0 auto;
  margin-top: 65px;
  margin-bottom: 35px;
  border: dashed 1px #D6DBE3;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 35px 0;
}
@media (max-width: 980px) {
  .application {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
.application__text-rate {
  font-size: 24px;
  color: #FF6F08;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}
@media (max-width: 760px) {
  .application__text-rate {
    font-size: 18px;
  }
}
.application__text-platforms {
  font-size: 18px;
  color: #926C51;
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
}
@media (max-width: 760px) {
  .application__text-platforms {
    font-size: 14px;
  }
}
.application .apps {
  display: flex;
  justify-content: center;
}
.application .apps a {
  display: block;
  height: 100%;
}
.application .apps__item {
  height: 48px;
  width: 173px;
}
@media (max-width: 760px) {
  .application .apps__item {
    height: 40px;
    width: 152px;
  }
}
@media (max-width: 390px) {
  .application .apps__item {
    height: 95%;
    width: 95%;
  }
}
.application .apps--app-store {
  margin-right: 4px;
}
@media (max-width: 390px) {
  .application .apps--app-store {
    margin-right: 0;
  }
}
.application .apps--google-play {
  margin-left: 4px;
}
@media (max-width: 390px) {
  .application .apps--google-play {
    margin-left: 0;
  }
}
.how-make-money {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (max-width: 980px) {
  .how-make-money {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
.how-make-money__table {
  border-collapse: collapse;
  border-spacing: 0;
}
.how-make-money__table caption {
  margin-bottom: 85px;
}
@media (max-width: 760px) {
  .how-make-money__table caption {
    font-size: 32px;
    margin-bottom: 40px;
  }
}
.how-make-money__table th {
  font-size: 32px;
  padding-bottom: 24px;
  padding-top: 48px;
  background-image: url(../img/table-line.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}
@media (max-width: 760px) {
  .how-make-money__table th {
    font-size: 24px;
  }
}
.how-make-money__table th:last-child {
  color: #FF6F08;
  background-color: rgba(255, 44, 3, 0.05);
}
.how-make-money__table th:not(:last-child) {
  padding-right: 30px;
}
@media (max-width: 760px) {
  .how-make-money__table th:not(:last-child) {
    display: block;
  }
}
@media (max-width: 760px) {
  .how-make-money__table th:first-child {
    display: none;
  }
}
@media (max-width: 760px) {
  .how-make-money__table {
    font-size: 14px;
  }
}
.how-make-money__table tr:not(:last-child) {
  background-image: url(../img/table-line.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}
.how-make-money__table tr:nth-child(5) {
  background-image: none;
}
@media (max-width: 760px) {
  .how-make-money__table tr:last-child td:not(:last-child) {
    display: none;
  }
}
.how-make-money__table tr:last-child td:last-child {
  padding-top: 60px;
  padding-left: 24px;
}
@media (max-width: 760px) {
  .how-make-money__table tr:last-child td:last-child {
    background-color: #FFFFFF;
    padding-left: 0;
  }
}
.how-make-money__table td {
  padding: 24px 24px 16px 24px;
  vertical-align: top;
}
@media (max-width: 960px) {
  .how-make-money__table td {
    padding: 24px 8px 16px 8px;
    font-size: 16px;
  }
}
@media (max-width: 360px) {
  .how-make-money__table td {
    padding: 24px 0px 16px 0px;
    font-size: 14px;
  }
}
.how-make-money__table td:first-child {
  font-weight: bold;
  white-space: nowrap;
}
@media (max-width: 760px) {
  .how-make-money__table td:first-child {
    font-size: 16px;
    padding-left: 0px;
  }
}
.how-make-money__table td:last-child {
  background-color: rgba(255, 44, 3, 0.05);
}
@media (max-width: 760px) {
  .how-make-money__table td:last-child {
    padding-top: 60px;
    padding-left: 8px;
  }
}
@media (max-width: 360px) {
  .how-make-money__table td:last-child {
    padding-left: 0px;
  }
}
@media (max-width: 760px) {
  .how-make-money__table td:nth-child(2) {
    padding: 0px;
  }
}
@media (max-width: 760px) {
  .how-make-money__table td:not(:last-child) {
    display: block;
    padding-right: 8px;
  }
}
@media (max-width: 360px) {
  .how-make-money__table td:not(:last-child) {
    padding-right: 0px;
  }
}
.how-make-money__btn {
  width: 345px;
  height: 55px;
  font-size: 24px;
  box-sizing: border-box;
  line-height: 55px;
  margin-right: 8px;
}
@media (max-width: 760px) {
  .how-make-money__btn {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
  }
}
@media (max-width: 760px) {
  .how-make-money__text-bonus {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
.how-make-money__text-bonus:before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(../img/giftcard.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  float: left;
  margin-right: 8px;
}
.crypto-rate {
  width: 960px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .crypto-rate {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (max-width: 320px) {
  .crypto-rate {
    margin: 0 4px;
  }
}
.crypto-rate .crypto-rate-table {
  width: 100%;
}
.crypto-rate .crypto-rate-table caption {
  text-align: left;
  font-size: 24px;
  margin-bottom: 38px;
}
.crypto-rate .crypto-rate-table--none {
  display: none;
}
.crypto-rate .crypto-rate-table--mob {
  display: none;
}
.crypto-rate .crypto-rate-table__price {
  text-align: right;
  font-weight: 600;
}
.crypto-rate .crypto-rate-table__dinamycs {
  text-align: right;
}
.crypto-rate .crypto-rate-table__dinamycs--green {
  color: #4EB43A;
}
.crypto-rate .crypto-rate-table__dinamycs--red {
  color: #F65151;
}
.crypto-rate .crypto-rate-table__crypto-name {
  font-weight: 600;
}
.crypto-rate .crypto-rate-table__btn-cell {
  width: 1%;
}
.crypto-rate .crypto-rate-table__space {
  height: 16px !important;
  width: 100%;
  background-image: url(../img/table-line.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 1px;
}
.crypto-rate .crypto-rate-table td {
  font-size: 24px;
  font-weight: normal;
  height: 50px;
}
@media (max-width: 760px) {
  .crypto-rate .crypto-rate-table--mob {
    display: table-cell;
  }
  .crypto-rate .crypto-rate-table--desktop {
    display: none;
  }
  .crypto-rate .crypto-rate-table caption {
    text-align: center;
    font-size: 16px;
    margin-bottom: 24px;
  }
  .crypto-rate .crypto-rate-table__space {
    height: 8px;
    background-image: none !important;
  }
  .crypto-rate .crypto-rate-table td {
    font-size: 13px;
    height: auto;
  }
  .crypto-rate .crypto-rate-table__crypto-name {
    font-size: 16px !important;
    vertical-align: bottom;
  }
  .crypto-rate .crypto-rate-table__price {
    text-align: left;
    vertical-align: top;
  }
  .crypto-rate .crypto-rate-table__dinamycs {
    text-align: left;
    vertical-align: top;
  }
  .crypto-rate .crypto-rate-table__btn-cell {
    width: 72px;
  }
}
.crypto-rate .crypto-rate-table__crypto {
  width: 50px;
  height: 50px;
  min-width: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.crypto-rate .crypto-rate-table__btn {
  height: 32px;
  width: 87px;
  box-sizing: border-box;
  font-size: 14px;
  color: #6F7780;
  border: 1px solid #E5E6EA;
  border-radius: 2px;
  background: none;
}
@media (max-width: 760px) {
  .crypto-rate .crypto-rate-table__btn {
    height: 24px;
    width: 72px;
    font-size: 13px;
  }
}
.crypto-rate .crypto-rate-table__btn:hover {
  cursor: pointer;
}
.crypto-rate .crypto-rate-table--etherium {
  background-image: url(../img/etherium3.svg);
}
.crypto-rate .crypto-rate-table--ripple {
  background-image: url(../img/ripple.svg);
}
.crypto-rate .crypto-rate-table--bitcoin-cash {
  background-image: url(../img/bitcoin-cash.svg);
}
.crypto-rate .crypto-rate-table--iota {
  background-image: url(../img/iota.svg);
}
.crypto-rate .crypto-rate-table--dash {
  background-image: url(../img/dash.svg);
}
.crypto-rate .crypto-rate-table--monero {
  background-image: url(../img/monero.svg);
}
.bitcoin-news {
  width: 960px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .bitcoin-news {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
.bitcoin-news h2 {
  text-align: center;
  margin: 0 0 64px 0;
}
@media (max-width: 760px) {
  .bitcoin-news h2 {
    font-size: 32px;
    margin: 0 0 48px 0;
  }
}
.bitcoin-news .bitcoin-news-bloks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bitcoin-news .bitcoin-news-bloks p {
  color: #6F7780;
  font-size: 14px;
}
.bitcoin-news .bitcoin-news-bloks a:hover {
  color: #FF6F08;
}
.bitcoin-news .bitcoin-news-bloks__block {
  width: 45%;
  margin: 0 2.5%;
}
@media (max-width: 760px) {
  .bitcoin-news .bitcoin-news-bloks__block {
    width: 100%;
    margin: 0;
  }
}
.bitcoin-news .bitcoin-news-bloks__block:not(:last-child) {
  margin-bottom: 16px;
}
.banks {
  width: 960px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .banks {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
.banks h3 {
  text-align: center;
  margin-bottom: 73px;
}
@media (max-width: 960px) {
  .banks h3 {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
.banks .banks-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.banks .banks-logo--citybank {
  width: 20%;
}
.banks .banks-logo--hsbc {
  width: 18%;
}
.banks .banks-logo--commerzbank {
  width: 32%;
}
.banks .banks-logo--bitfinex {
  width: 29%;
}
.banks .banks-logo--barclays {
  width: 25%;
}
.banks .banks-logo--jpmorganchase {
  width: 35%;
}
.banks .banks-logo--itbit {
  width: 10%;
}
.banks .banks-logo--kraken {
  width: 27%;
}
.banks .banks-logo--nowura {
  width: 22%;
}
.banks .banks-logo--poloniex {
  width: 24%;
}
.banks .banks-logo--gdax {
  width: 20%;
}
.banks .banks-logo--creditsuisse {
  width: 32%;
}
.banks .banks-logo__block {
  height: 72px;
  margin: 5px 0;
}
.banks .banks-logo__block img {
  display: block;
  margin: 0 auto;
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
@media (max-width: 960px) {
  .banks .banks-logo__block {
    width: 45%;
    margin: 0;
  }
}
.bitcoin-info {
  width: 960px;
  margin: 0 auto;
}
@media (max-width: 980px) {
  .bitcoin-info {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
.bitcoin-info h4 {
  margin-bottom: 0.2rem;
}
.bitcoin-info .bitcoin-warning {
  margin: 2rem 0;
  color: blue;
}
.bitcoin-info p {
  margin: 0;
}
@media (max-width: 760px) {
  .bitcoin-info {
    font-size: 14px;
    padding-top: 32px;
  }
}
.payments {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 980px) {
  .payments {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }
}
@media (max-width: 760px) {
  .payments {
    flex-direction: column;
  }
}
.payments .coll-left {
  width: 48%;
  font-size: 12px;
  color: #6F7780;
}
@media (max-width: 760px) {
  .payments .coll-left {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }
}
.payments .coll-right {
  width: 48%;
}
@media (max-width: 760px) {
  .payments .coll-right {
    width: 100%;
    text-align: center;
    font-size: 16px;
  }
}
.payments .coll-right .pay-sys {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys {
    justify-content: center;
  }
}
.payments .coll-right .pay-sys--visa {
  width: 18%;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys--visa {
    width: 34%;
  }
}
.payments .coll-right .pay-sys--mastercard {
  width: 11%;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys--mastercard {
    width: 21%;
  }
}
.payments .coll-right .pay-sys--mir {
  width: 21%;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys--mir {
    width: 38%;
  }
}
.payments .coll-right .pay-sys--webmoney {
  width: 40%;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys--webmoney {
    width: 48%;
  }
}
.payments .coll-right .pay-sys--yandexmoney {
  width: 30%;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys--yandexmoney {
    width: 48%;
  }
}
.payments .coll-right .pay-sys--qiwi {
  width: 18%;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys--qiwi {
    width: 28%;
  }
}
.payments .coll-right .pay-sys--skrill {
  width: 16%;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys--skrill {
    width: 25%;
  }
}
.payments .coll-right .pay-sys--neteller {
  width: 26%;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys--neteller {
    width: 40%;
  }
}
.payments .coll-right .pay-sys__block {
  margin: 5px 1%;
}
@media (max-width: 760px) {
  .payments .coll-right .pay-sys__block {
    margin: 5px 0;
  }
}
.payments .coll-right .pay-sys__block img {
  display: block;
  margin: 0 auto;
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
