a {text-decoration: none;}
a:link {color: black;}
a:visited {color: black;}
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
/*header * {border: dashed 1px;}
header div {border-color: red;}
header ul {border-color: green;}
header li {border-color: darkblue;}*/

/*START HEADER----------------------------------------------------------------*/
header {
    /*border: dashed 0.5px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    position: fixed;
    padding: 0.5rem 0;
    background-color: white;
    z-index: 1;
    border-bottom: solid 0.5px #cecece;
    box-shadow: 0 0 9px 1px #cecece;
}
@media (max-width: 960px) {
    header {
        justify-content: flex-start;
    }
}

/*LOGO*/
.logo {
    width: 8%;
    min-width: 150px;
    height: 50px;
    margin-left: 1.5%;
    margin-right: 9.5%;
    background-image: url(../images/libertex-logo-dark.png);
    background-repeat: no-repeat;
    background-size:  contain;
    background-position: center;
}
.logo a {display: block; height: 100%;}
@media (max-width: 960px) {
    .logo {
        background-image: url(../images/libertex-logo-dark2.png);
        height: 40px;
        width: 40px;
        min-width: 40px;
        margin: 0 10px;
    }
}

/*MENU BLOCK*/
.head-nav {
    width: 67%;
    display: flex;
    justify-content: space-between;
    min-width: 900px;
}
@media (max-width: 960px) {
    .head-nav {
        width: 0%;
        min-width: 0px;
    }
}
.menu {
    width: 95%;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    white-space: nowrap;
    margin: 0;
}
@media (min-width: 961px) {
    .menu {
        display: flex !important;
        width: 100%;
    }
}
.mob-nav {
    display: none;
}
@media (max-width: 960px) {
    .menu {
        display: none;
        align-items: stretch;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0px;
        margin: 0;
        min-width: 0;
        width: 100%;
    }
    .mob-nav {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url(../images/image02.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        cursor: pointer;
        margin: 0 10px;
    }
}

/*MENU BUTTONS*/
.menu > li {
    text-transform: uppercase;
    margin: auto 0;
    width: 140px;
    height: 47px;
    border: 4px solid rgb(255,255,255);
    border-radius: 4px;
}
.menu a {
    display: block;
    height: 100%;
    text-align: center;
    line-height: 47px;
}
.menu > li:not(:first-child):hover {background-color: rgb(242,242,242);}
.menu > li:not(:first-child):active {border-bottom: 2px solid rgb(239,124,70);}
@media (max-width: 960px) {
    .menu > li {
        background-color: white;
        margin: 0;
        width: 100% !important;
    }
}

/*MENU FIRST BUTTON DECORATION*/
.btn-menu {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-menu > a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 110px;
    border-radius: 3px;
    border: 2px solid rgb(239,124,70);
    text-transform: uppercase;
    color: rgb(239,124,70);
    font-weight: bolder;
}
.btn-menu a:active {background-color: rgb(239,124,70); color: rgb(255, 255, 255);}
@media (max-width: 960px) {
    btn-menu {
        background-color: white;
        height: 3rem;
    }
}

/*SUB-MENU*/
.sum-menu-company {
    position: relative;
}
.sub-menu {
    visibility: hidden;
    position: absolute;
    top: 2.5rem;
    list-style: none;
    padding: 0;
    width: 132px;
    background-color: white;
    border: 4px solid rgb(255,255,255);
    border-radius: 4px;
}
.sub-menu > li {line-height: 47px; padding-left: 1rem;}
.sub-menu > li:hover {background-color: rgb(242,242,242);}
.sub-menu > li > a {display: block; height: 100%;}
@media (max-width: 960px) {
    .sub-menu {
        border-top: solid 1px gray;
        top: 160px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .sub-menu > li {
        padding-left: 0;
    }
}

/*LUNGUAGE BUTTON*/
.language-option {
    width: 5%;
    min-width: 40px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.language-option ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px;
    position: absolute;
    list-style: none;
    padding: 0;
}
.language-option ul li {
    width: 21px;
    height: 14px;
    margin: 10px 0;
}
.language-option ul li a {height: 100%;}
.eng {
    background-image: url(../images/layer-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: solid 0.3px;
    order: 2;
    visibility: hidden;
}
.ru {
    background-image: url(../images/ru.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: solid 0.3px;
    order: 2;
    visibility: hidden;
}
.active {
    order: 1;
    visibility: visible;
}
@media (max-width: 960px) {
    .language-option {display: none;}
}

/*SEARCH FIELD*/
.search {
    width: 10%;
    min-width: 40px;
    margin-left: 2.5%;
    margin-right: 1.5%;
    display: flex;
    align-items: center;
}
.search form {
    display: flex;
    justify-content: flex-start;
    height: 1.3rem;
    width: 100%;
}
.search-field {width: 90%; border: none; border-bottom: 2px solid gray;}
.search-field:active, :hover, :focus {outline:none; outline-offset: 0;}
.search-btn {
    width: 10%;
    border: none;
    background: transparent;
    background-image: url(../images/rectangle-2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    background-size: contain;
    cursor: pointer;
}
@media (max-width: 960px) {
    .search { margin: 0; width: 100%;}
    .search form {height: 2rem;}
    .search-btn {background-size: contain;}
}



/*BREDCRUMBS--------------------------------------------------------------------------*/
.breadcrumbs {
    padding-top: 6rem;
    max-width: 960px;
    margin: 0 auto;
    /*border: dashed 0.5px;*/
}
.breadcrumbs a {color: gray;}



/*MAIN-----------------------------------------------------------------------------------*/
main {
    /*border: dashed 0.5px;*/
    max-width: 960px;
    margin: 0 auto;
}
/*main * {border: dashed 0.5px;}*/
@media (max-width: 960px) {
    main {width: 100%; margin: 0;}
}

/*First paragraph*/
.introduction {
    margin-bottom: 20px;
    width: 50%;
}
@media (max-width: 960px) {
    /*First paragraph*/
    .introduction {width: 100%;}
}

/*BLOCK FOR BUTTONS TRAID APPSTORE ANDROID*/
.container1 {
    width: 50%;
}
@media (max-width: 960px) {
    /*BLOCK FOR BUTTONS TRAID APPSTORE ANDROID*/
    .container1 {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}

/*Button TRAID*/
.btn-trade {
    margin: 40px 0;
}
.btn-trade a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 3px;
    color: rgb(239,124,70);
    background-color: rgb(252,229,218);
    padding: 10px 30px;
    border: 2px solid rgb(239,124,70);
}
.btn-trade a:hover {background-color: rgb(239, 124, 70); color: rgb(252,229,218);}
@media (max-width: 960px) {
    /*Button TRAID*/
    .btn-trade {order: 2;}
}

/*Grey text below button trade*/
.gray-coment {
    color: gray;
    width: 100%;
}
@media (max-width: 960px) {
    /*Grey text below button trade*/
    .gray-coment {order: 3;}
}

/*BUTTONS APPSTORE ANDROID*/
.btn-app-goo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.btn-app-goo a {
    width: 30%;
    margin-top: 40px;
}
.btn-app-goo a:last-child {
    margin-left: 25px;
}
.btn-app-goo img {
    width: 100%;
}
@media (max-width: 960px) {
    /*BUTTONS APPSTORE ANDROID*/
    .btn-app-goo {
        order: 1;
        justify-content: center;
    }
    .btn-app-goo a {
    width: 200px;
    margin: 20px 0;
    }
}

/*PHONE PICTURE*/
.pic-phone-s {
    margin-bottom: -80px;
    position: relative;
    top: -80px;
    float: right;
    width: 50%;
    height: 310px;
    background-image: url(../images/illustration.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
@media (max-width: 960px) {
    /*PHONE PICTURE*/
    .pic-phone-s {
        position: static;
        top: 0px;
        float: none;
        margin: 0;
        width: 100%;
        height: 310px;
        background-image: url(../images/illustration.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

/*Empty block*/
.empty-block {
    clear: right; height: 20px;
}

/*LISTS*/
.sec-l {float: left; width: 49.5%}
.sec-r {float: right; width: 49.5%; margin-bottom: 30px;}
.list {list-style: none; padding: 0; line-height: 2rem;}
.list li:before {
    content: '';
    display: inline-block;
    background-image: url(../images/tick.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 3rem;
    height: 1rem;
}
@media (max-width: 960px) {
    /*LISTS*/
    .sec-l {float: none; width: 100%}
    .sec-r {float: none; width: 100%;}
    .list {line-height: 1rem;}
}

/*TABLE*/
main > table {
    clear: right;
    border: solid 0.5px rgb(207,207,207);
    border-collapse: collapse;
}
main > table td {padding: 10px 15px;}
main > table td:first-child {
    font-weight: 700;
    width: 50%
    }
main > table tr:first-child {font-weight: 700;}
main > table tr:nth-child(2n+1) {
    background: rgb(246,246,246);
    }
@media (max-width: 960px) {
    /*TABLE*/
    main > table td {display: block;}
    main > table tr:first-child td:last-child {font-weight: normal;}
}

/*VIDEO*/
iframe {
    margin: 30px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 960px) {
    /*VIDEO*/
    iframe {display: none;}
}


/*SUMMARY*/
.summary {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 15%;
}

/*pictures of phones*/
.pic-phone-b {
    width: 49%;
    height: 200px;
    background-image: url(../images/iphone-copy.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0% 0;
}

/*text*/
.sum-text {
    width: 51%;
}

/*Apple & Android Buttons*/
.btn-app-goo2 {
    position: relative;
    left: 50%;
    top: -50px;
    width: 50%;
    display: flex;
}
.btn-app-goo2 img {
    width: 90%;
}
@media (max-width: 960px) {
    /*SUMMARY*/
    .summary {margin: 0; margin-bottom: 50px;}
    /*Pictures of phones*/
    .pic-phone-b {order: 2; margin-top: 1rem;}
    /*text*/
    .sum-text {order: 1; width: 100%;}
    /*Apple & Android buttons*/
    .btn-app-goo2 {
        order: 3;
        left: 0%;
        top: 0%;
        flex-direction: column;
        justify-content: center;
    }
    .btn-app-goo2 img {
        width: 130px;
        padding-left: 10%;
        margin: 10px 0;
    }
}



/*BACKGROUND OF TRADE BUTTON--------------------------------------------------------------------------------*/
.container2 {
    background-image: url(../images/bg.png);
    border: solid 0.1px white;
}

/*Trade button*/
.container2 > div:first-child {
    margin: 20px 0;
    text-align: center;
}
.container2 > div:first-child a {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
    border-radius: 3px;
    color: rgb(239,124,70);
    background-color: rgb(252,229,218);
    padding: 10px 30px;
    border: 2px solid rgb(239,124,70);
}
.container2 > div:first-child a:hover {
    background-color: rgb(239, 124, 70);
    color: rgb(252,229,218);
}

/*Grey text below button trade*/
.container2 > div:last-child {
    text-align: center;
    color: gray;
    width: 100%;
}



/*FOOTER----------------------------------------------------------------------------------------------------------------*/
/*footer * {border: dashed 0.1px;}*/
footer {
    border-top: solid 1px gray;
    padding-top: 50px;
    max-width: 960px;
    margin: 50px auto;
    display: flex;
    font-size: 12px;
}

/*TEXT*/
footer > section {
    width: 30%;
    line-height: 1.5rem;
}
footer > section > span {color: gray;}
footer > section > a > img {
    margin-right: 10px;
    height: 20px;
}

/*NAV*/
footer > nav {
    width: 70%;
}
.foo-menu, .foo-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    text-transform: uppercase;
}
.foo-menu li {
    margin: 0 10px 10px 10px;
}
.foo-menu > li a {color: gray;}
.foo-menu ul {
    flex-direction: column;
}
.foo-menu ul li:not(:first-child) a {text-transform: none; color: black; }
@media (max-width: 960px) {
    /*FOOTER*/
    footer{
        width: 100%;
        margin: 50px 0;
    }
    footer > nav {display: none;}
    footer > section {width: 100%; text-align: center;}
}